<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AtomicParsley" value="%UTLDIR%\AtomicParsley\AtomicParsley.exe"/>
    <add key="Ffmpeg" value="%UTLDIR%\ffmpeg-latest\bin\ffmpeg.exe"/>
    <add key="Ffprobe" value="%UTLDIR%\ffmpeg-latest\bin\ffprobe.exe"/>
    <add key="Source" value="%NAS%\Recorded TV\_latest"/>
    <add key="SearchPatterns" value="*.wtv;*.dvr-ms"/>
    <add key="IntermediateDirectory" value="D:\Converter\Output"/>
    <add key="TargetDirectory" value="%NAS%\Recorded TV\_mp4\${ShowName}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
