<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AtomicParsley" value="%UTLDIR%\AtomicParsley\AtomicParsley.exe"/>
    <add key="Ffmpeg" value="%UTLDIR%\ffmpeg-latest\bin\ffmpeg.exe"/>
    <add key="Ffprobe" value="%UTLDIR%\ffmpeg-latest\bin\ffprobe.exe"/>
    <add key="InputDirectory" value="%WORK_DRIVE%\Recorded TV"/>
    <!--<add key="SearchPatterns" value="*.wtv;*.dvr-ms;*.mp4;*.mkv;*.mpg;*.webm;*.ts"/>-->
    <add key="SearchPatterns" value="*.ts"/>
    <!--<add key="IntermediateDirectory" value="D:\Converter\Output"/>-->
    <add key="IntermediateDirectory" value="%TEMP%"/>
    <add key="TargetDirectory" value="%NAS%\Recorded TV\_mp4"/>
    <add key="WhatIf" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
