<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="AtomicParsley" value="%UTLDIR%\AtomicParsley\AtomicParsley.exe"/>
    <add key="Ffmpeg" value="%UTLDIR%\ffmpeg-latest\bin\ffmpeg.exe"/>
    <add key="Ffprobe" value="%UTLDIR%\ffmpeg-latest\bin\ffprobe.exe"/>
    <add key="InputDirectory" value="%WORK_DRIVE%\Recorded TV"/>
    <!--<add key="SearchPatterns" value="*.wtv;*.dvr-ms;*.mp4;*.mkv;*.mpg;*.webm;*.ts"/>-->
    <add key="SearchPatterns" value="*.dvr-ms"/>
    <add key="IntermediateDirectory" value="%WORK_DRIVE%\Converter\temp"/>
    <add key="OutputDirectory" value="%NAS%\Recorded TV\_mp4\${ShowName}"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
