<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Ffmpeg" value="%UTLDIR%\ffmpeg-latest\bin\ffmpeg.exe"/>
    <add key="Ffprobe" value="%UTLDIR%\ffmpeg-latest\bin\ffprobe.exe"/>
    <add key="InputDirectory" value="%USERDATA%\Recorded TV"/>
    <add key="SearchPatterns" value="**/*.wtv;**/*.dvr-ms;**/*.mp4;**/*.mkv;**/*.mpg;**/*.webm;**/*.ts"/>
    <add key="OutputDirectory" value="F:\Recorded TV\${SafeShowName}"/>
    <add key="ShowNameMapFile" value="%USERDATA%\Recorded TV\ShowNameMap-thetdvdb.json"/>
    <add key="CreateSymbolicLink" value="true"/>
    <!--<add key="WhatIf" value="true"/>-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
</configuration>
